<!DOCTYPE html>

<html>
	
	<head>
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" 
			rel="stylesheet">
	</head>

	<body>
	
		<div id="header">
			<p>BÁRÁNY</p>
		</div>
		
		<div id="menu">
			<a data-th-href="@{/home}">Főoldal</a>
			<a data-th-href="@{/about}">Rólam</a>
			<a data-th-href="@{/game}">Játék</a>
		</div>
		
		<div id="content">
			<img src="/img/dreep2.png" alt="bárány">
		</div>
		
	</body>
		
</html>